table{
    width: 100%;
}

H1{
    text-align: center;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
  }

.image{
    text-align: center;
}

.userButton{
    margin-bottom: 7px;
}

.container{
    overflow-x: scroll;
    overflow-y: hidden;
}

@keyframes loader-animation {
    0% {
        left: -100%;
    }
    49% {
        left: 100%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}
.loader {
    height: 5px;
    width: 100%;
    overflow: hidden;
}
.loader .bar {
    position: relative;
    height: 5px;
    width: 100%;
    background-color: dodgerblue;
    animation-name: loader-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}