<h1 mat-dialog-title >Dynamic Full Form</h1>
<hr>
<div mat-dialog-content>
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="message">
        
        <mat-icon aria-hidden="false" aria-label="check_circle">check_circle</mat-icon> {{message}}
      
        <button type="button" (click)="message=''" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="">
      <form [formGroup]="dynamicForm">
                <div>
                  <fieldset class="form-group">
                      <label>Screen Name:</label>
                      <input type="text" formControlName="screenName" placeholder="Enter Screen Name" class="form-control">
                  </fieldset>
                </div>
                <div>
                  <fieldset class="form-group">
                      <label>Movie Name:</label>
                    <input type="text" formControlName="movieName" placeholder="Enter Movie Name" class="form-control">
                  </fieldset>
                </div>
    
                <div class="row">
                  <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label>Show Date:</label>
                        <input type="date" formControlName="showDate" placeholder="Select Show Date" class="form-control">
                    </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset class="form-group">
                      <label>Start Time:</label>
                      <input type="time" formControlName="startTime" placeholder="Start Time" class="form-control">
                    </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset class="form-group">
                      <label>End Time:</label>
                      <input type="time" formControlName="endTime" placeholder="End Time" class="form-control">
                    </fieldset>
                  </div>
                </div>
    
                <div class="row">
                  <div class="col-lg-4">
                    <fieldset class="form-group">
                        <label>Gold Price:</label>
                        <input type="number" formControlName="goldPrice" placeholder="Gold Price" class="form-control">
                    </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset class="form-group">
                      <label>Silver Price:</label>
                      <input type="number" formControlName="silverPrice" placeholder="Silver Price" class="form-control">
                    </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset class="form-group">
                      <label>Platinum Price:</label>
                      <input type="number" formControlName="platinumPrice" placeholder="Platanium Price" class="form-control">
                    </fieldset>
                  </div>
                </div>
      </form>
    </div>
</div>
<hr>
<div mat-dialog-actions>
  <button mat-raised-button class="btncolor" (click)="onNoClick()" color="primary">Cancel</button>
  <button mat-raised-button cdkFocusInitial (click)="onSubmit()" color="primary" class="btncolor">Save</button>
</div>
