<!--The content below is only a placeholder and can be replaced.-->

<!-- <div class="container">
    <app-profie></app-profie>
</div> -->

<!-- <header>
    <nav class="navbar navbar-expand-md navBox wrap">
        <div><a href="https://www.in28minutes.com/" class="navbar-brand">Cignex</a></div>
        
        <ul class="navbar-nav">
          <li><a routerLink="/welcome/Cignex" class="nav-link">Home</a></li>
          <li><a routerLink="/todos" class="nav-link">Todos</a></li>
        </ul>
  
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a (click)="openDialog()" class="nav-link">Login</a></li>
            <li><a routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header> -->

<div class="container">
    <router-outlet></router-outlet>
</div> 

<!-- <footer class="footer">
    <div class="container">
        <span class="text-muted">Rights Reserved 2019 @Cignex</span>
    </div>
</footer> -->