
<div class="container card h-100 border-1 shadow py-4 col-sm-9 col-md-5 col-lg-3 mx-auto">
    <div class="text-center"><h1><span class="fa fa-expeditedssl"></span></h1></div>
    <H3 class="text-center">Forgot Password?</H3>
    <hr>
    <div class="alert alert-dark text-justify alert-dismissible fadeout show" role="alert" *ngIf="message">
      <button type="button" style="border:none;" (click)="closeMessage()" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{message}}
      <b><countdown-timer [end]="expireDate"></countdown-timer></b>
    </div>
    <form (ngSubmit)="onForgotPasswordForm()" [formGroup]="forgotPassword">
        <div class="">
          <fieldset class="form-group">
              <label>Enter your email adress and we will send you a link to reset your password.</label>
              <input type="text" [ngClass]="{ 'is-invalid': errorControl.emailId.touched && errorControl.emailId.errors }" formControlName="emailId" placeholder="&#xf0e0;  Enter Email Id" class="form-control login">
              <div class="invalid-feedback" *ngIf="errorControl.emailId.invalid && (errorControl.emailId.dirty || errorControl.emailId.touched)">
                <div *ngIf="errorControl.emailId.errors.required">
                    Email id is required
                </div>
                <div *ngIf="errorControl.emailId.errors.email">
                    Please, Enter valid Email id
                </div>
              </div>
          </fieldset>
        </div>
       
        <div class="form-group">
          <input type="submit" [disabled]="!forgotPassword.valid" class="form-control" class="btn btn-info btn-block" name="ForgotPasswordSubmit" value="&#xf1d8;  Reset Password">
        </div>
    </form>
  </div>
  