
<div *ngIf="errorMessageForm" class="container card h-100 border-0 shadow py-4">
    <H3 class="text-center">Reset Password</H3>
    <hr>
    <div class="text-center">
      <img src="/Images/VerificationFailed.png" height="120" width="120" alt="Verification Failed Logo">
    </div>
    <div class="text-center text-success py-4">
      <p class="text-danger"><b class="text-danger"> Request Failed!</b> <br>{{errorMessage}}</p>
    </div>
</div>

<div *ngIf="resetPasswordForm" class="container card h-100 border-1 shadow py-4 col-sm-9 col-md-5 col-lg-3 mx-auto">
    <div class="text-center"><h1><span class="fa fa-lock"></span></h1></div>
    <H3 class="text-center">Reset Password</H3>
    <hr>
    <div class="alert alert-dark text-justify alert-dismissible fadeout show" role="alert" *ngIf="message">
      <button type="button" style="border:none;" (click)="closeMessage()" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{message}}
    </div>
    <form (ngSubmit)="onResetPasswordForm()" [formGroup]="resetPassword">
        <div class="">
          <fieldset class="form-group">
              <input type="password" [ngClass]="{ 'is-invalid': errorControl.password.touched && errorControl.password.errors }" formControlName="password" placeholder="&#xf023;  Enter New Password" class="form-control">
              <div class="invalid-feedback" *ngIf="errorControl.password.invalid && (errorControl.password.dirty || errorControl.password.touched)">
                <div *ngIf="errorControl.password.errors.required">
                    Password is required
                </div>
                <div *ngIf="errorControl.password.errors.minlength">
                    Password must be at least 3 characters
                </div>
              </div>
          </fieldset>
        </div>
        <div class="">
            <fieldset class="form-group">
              <input type="password" [ngClass]="{ 'is-invalid': errorControl.confirmPassword.touched && errorControl.confirmPassword.errors }" formControlName="confirmPassword" placeholder="&#xf023;  Confirm Password" class="form-control">
              <div class="invalid-feedback" *ngIf="errorControl.confirmPassword.invalid && (errorControl.confirmPassword.dirty || errorControl.confirmPassword.touched)">
                <div *ngIf="errorControl.confirmPassword.errors.required">
                    Confirm password is required
                </div>
                <div *ngIf="errorControl.confirmPassword.errors.matchPassword">
                    Passwords must match
                </div>
              </div>
          </fieldset>
        </div>
        <div class="form-group">
          <input type="submit" [disabled]="!resetPassword.valid" class="form-control" class="btn btn-info btn-block" name="ResetPasswordSubmit" value="&#xf084;  Reset Password">
        </div>
    </form>
    <hr>
    <div class="text-center text-info">
        <p>Go to <a class="text-info" routerLink="/SignIn">Sign in</a></p>
    </div>
  </div>
  